{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
    
{% block content %}
    <h1>WELCOME TO PITCHES WEBSITE</h1><br>
    <p>Click on button to create a pitch<a href="{{url_for('main.create_pitches')}}"><button>Add Pitch</button></a></p>
   
    {%for pitch in all_pitches %}</li>
    <p>{{pitch.description}}</p>
    <a href="/comment/new/{{pitch.id}}"><button>Comments</button></a>
   
    {%endfor%}
    {% endblock %}